html {
  font-family: arial;
}


header {
  position: relative;
  padding: 20px;
  max-width: 300px;
  font-size: 50px;
  color: white;
  text-shadow: -5px 0 black, 0 5px black, 5px 0 black, 0 -5px black;
}

img {
  background-color: #fff;
  border-radius: 3px;
  padding: 4px;
  box-shadow: 1px 1px 6px;
  margin: 10px 25px 10px 10px;
  max-width: 100%;
}

body {
  background-image: url(img/nesbg.jpg);
}


nav {
  display:grid;
  grid-template-columns: 120px 120px 120px 120px;
  grid-template-rows: 20%;
  margin: 1% 5%;
  border: 3px solid;
  border-radius: 5px;
  background-color: white;
  min-width: 500px;
}

.button {
  background: black;
  padding: 10px;
  margin: 2px;
  color: white;
  text-align: center;
}


section {
  display:flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1% 5%;
  padding: 5% 10%;
  border: 1px solid;
  background-color: white;
}

footer {
  display:flex;
  justify-content: flex-end;
  margin: 1% 5%;
  padding: 5% 10%;
  border: 1px solid;
  background-color: white;
}


table {
  width: 600px;
  border: 2px solid;
  border-radius: 10px;
  margin: 0px 10%;
  padding: 1%;
  
}

tr:nth-child(even) {
  background: #ccc
}

tr:nth-child(odd) {
  background: #fff
}

/*align the download icon*/
td:nth-child(even) {
  text-align: center;
}
