#header {
  position:relative;
  padding:20px;
  max-width:300px;
  font-size:50px;
  color:white;
  text-shadow: -5px 0 black, 0 5px black, 5px 0 black, 0 -5px black;
}

img {
  background-color:#fff;
  border-radius:3px;
  padding:4px;
  box-shadow:1px 1px 6px;
  margin:10px 25px 10px 10px;
  max-width:100%;
}

body {
  background-image: url(img/nesbg.jpg);
}


.menu {
  display:grid;
  grid-template-columns: 120px 120px 120px 120px;
  grid-template-rows: 20%;
  margin:1% 5%;
  border: 3px solid;
  border-radius: 5px;
  background-color: white;
  min-width:500px;
}

.button {
  background:black;
  padding: 10px;
  margin:2px;
  color: white;
  text-align:center;
}


.content {
  display:grid;
  grid-auto-columns: 25%;
  grid-template-rows: 20% 20% 30% 30%;
  margin: 1% 5%;
  padding: 2% 1%;
  border: 1px solid;
  background-color: white;
}


.a {
  grid-column-start: 1;
  grid-column-end: span 2;
  grid-row-start:1;
  grid-row-end: 1;
}

.b {
  grid-column-start: 2;
  grid-column-end: span 2;
  grid-row-start:1;
  grid-row-end: 1;
}

.c {
  grid-column-start: 3;
  grid-column-end: span 1;
  grid-row-start:1;
  grid-row-end: 1;
}

.d {
  grid-column-start: 4;
  grid-row-start: 1;
  grid-row-end: 1;
  text-align: center;
}

.e {
  grid-column-start: 1;
  grid-column-end: span 1;
  grid-row-start: 2;
  grid-row-end: 2;
}

.f {
  grid-column-start: 2;
  grid-column-end: span 2;
  grid-row-start: 2;
  grid-row-end: 2;
}

.g {
  grid-column-start: 3;
  grid-row-start: 2;
  grid-row-end: 2;
}

.h {
  grid-column-start: 4;
  grid-row-start: 2;
  grid-row-end: 2;
}

table {
  width:600px;
  border:2px solid;
  border-radius: 10px;
  margin:0px 10px;
}

tr:nth-child(even) {
  background: #CCC
}

tr:nth-child(odd) {
  background: #FFF
}

/*align the download button*/
td:nth-child(even) {
  text-align:center;
}
